extends layout

block content
  .container-fluid.text-center
    h1 Hello Welcome to This New APP
    h4 The main agenda to build this app is to learn and know how things work in Mongo DB
    h6 Soon We will build an API with NodeJS, Express and MongoDB
  .conta.w-50.mt-5.offset-md-3
    .row.col-md-12
      .card.col-md-5.bg-light
        .card-body
          h3 Books Store
        .card-footer
          a.btn.btn-md.btn-primary(href="/books") Enter 
      .col-md-2.text-center.mt-md-5
        h2 OR
      .card.col-md-5.bg-light.col-sm-12
        .card-body
          h3 Clothes Store
        .card-footer
          a.btn.btn-md.btn-primary(href="#") Enter 