html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel="icon" href="/img/store.svg", type="image/svg" sizes="16x16")
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(href="https://fonts.googleapis.com/css?family=Montserrat|Rubik|Staatliches&display=swap" rel="stylesheet")
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
      link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
      link(rel="stylesheet", href="/css/toastr.min.css")
      
    block js
      if ENV_DEVELOPMENT
        script(src="js/jquery-3.4.1.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="js/script.js")
        script(src="js/toastr.min.js")
        
  body(onload='currentUrl()')           
    block content
